#markupfaq {padding:1em;line-height:1.2em}


#markupfaq pre {font-size:1.2em;margin: 1em 0;white-space: pre-wrap}

/*#markupfaq p {margin: 0 0 1.1em 0;} remove this on Dec 15 2010, it seems to do more harm than good on this entry: https://faqs.neoseeker.com/html/200465/#h103 */

#markupfaq h1 { line-height: 1em;}

#markupfaq h2 { border-bottom: 2px solid #999; color: #115499;overflow:hidden;margin-bottom:8px;padding-top:12px; font-size:21px;}
#markupfaq h3 { border-bottom: 1px dashed #999; color: #333333;overflow:hidden;margin-bottom:8px;padding-top:10px;font-size:18px;line-height:27px}
#faqtxt {line-height: 1.4em;}
#faqtxt p { line-height:18px;margin: 0 0 18px 0; }
@media only screen and (max-width: 640px) {
	#faqtxt p, #faqtxt ul li, #faqtxt ol li {
		word-break: break-word;
	}
}
#faqtxt a { font-weight: bold; text-decoration:none;}
#faqtxt a:hover { text-decoration:underline;}
#faqtxt div:not(.table-wrapper) {overflow:hidden;padding:0.6em 0.6em 1.2em 0.6em;margin-bottom: 1em;}
/*the #faqtxt table.ffaq code is for HTML faqs that aren't translated */
#faqtxt table.faqtable, #faqtxt table.ffaq { border-width: 0 0 1px 1px;border-style:solid;border-spacing: 0; border-color: black; margin-bottom: 15px;}
#faqtxt table.faqtable td,#faqtxt table.faqtable th, #faqtxt table.ffaq td, #faqtxt table.ffaq th { border-width: 1px 1px 0 0;border-style: solid;margin: 0;padding: 4px;border-color: black;}
table.faqtable th, #faqtxt table.ffaq tr:first-of-type td, #faqtxt table.ffaq th {background-color:#dfdfdf;}
#faqtxt p + ul, #faqtxt p + ol { margin-top: -12px; margin-bottom: 12px; }
#faqtxt ul li {margin-left:1em;}
.section_box,.spoiler_box { margin:6px 20px 6px 6px; background: #eff4ff; border:1px solid black; padding:0.5em;width:63%}
.section_box p,.spoiler_box p { margin:0.6em 0 0 0;}
.section_box h6, .spoiler_box h6 { font-weight:bold; font-size:1em; margin:0;padding:0}
.section_box ul { padding:0;margin:0}
.section_box ul li { margin-left:1.5em}
.spoiler_box { background: #d0d0d0; color: #d0d0d0;}
.spoiler_box h6 { color: darkred;}
#markupfaq .yt-embed-thumb {padding:0;position:relative;margin-left:10px}
#markupfaq .yt-pending:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 320px;
	height: 190px;
	z-index: 100;
	color:black;
	background: transparent url(https://cdn.staticneo.com/neoassets/icons_48/youtube_player_center_icon.png) no-repeat center;
	pointer-events: none;
}

#markupfaq .toc {float:right;width:250px;padding:1em;clear:right;margin-left: 1em;margin-bottom:1.5em; border:1px solid #333;background:#efefef;font-size:0.9em;}
#markupfaq .toc h3 {margin:-12px 0 7px 0;font-size:15px;line-height:27px;}
#markupfaq .toc ol {margin:0 0 0 1em;padding: 0 0 0 1em}

#markupfaq .author {margin:0.5em 0 0 0.5em;}

#markupfaq .copyright {background:#efefef;padding:1em;}

/* images floated left or right need a margin for text to flow around it*/
#markupfaq img.pull-left { margin-right: 10px; }
#markupfaq img.pull-right { margin-left:10px; }

#faqtxt a:not([href]) { color: black; }
#faqtxt a:not([href]):hover { text-decoration:none; }